# Check-in 1

Question 1:

In [2]:
import  pandas as pd 
import numpy as np

In [5]:
# Create a pandas series
s = pd.Series([12, -999, 45, -999], index=['A', 'B', 'C', 'D'])
s

A     12
B   -999
C     45
D   -999
dtype: int64

In [6]:
type(s)

pandas.core.series.Series

In [15]:
# Check mask documentation

# Mask -999 values in s with default NaN value
s = s.mask(s == -999) # it returns the value to us 

# Modifying in place
# s.mask(s==-999, inplace=True)

A    12.0
B     NaN
C    45.0
D     NaN
dtype: float64

# Check in 2:

In [20]:
# Make a data frame 
d = {'col_name_1': pd.Series(np.arange(3)),
    'col_name_2' : pd.Series([3.1, 3.2, 3.3])}

# A dictionary of lists

In [23]:
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [27]:
# Use .columns attribue to rename columns
df.columns = ['C1', 'C2']
df

   C1   C2
0   0  3.1
1   1  3.2
2   2  3.3